<!doctype html>
<html>
{{>header title="Not Found" style="../public/css/style.css" iconPath="../public/images/favicon.png"}}
<body class="font-body">
    <section class="flex flex-col my-24 items-center mx-4">
        <figure>
            <a href="#">
                <img class="h-12 w-17" src="../public/images/logo.png" alt="Workflow">
            </a>
        </figure>
        <span class="text-3xl-c text-black font-semibold mt-4 text-center">The page is requested could not found</span>
        <a href="/">
            <p class="font-base text-black font-bold mt-2.5 underline">Return to the homepage</p>
        </a>
    </section>
    <section class="flex flex-col lg:mt-80 items-center mt-40">
        <figure>
            <a href="#">
                <img alt="" class="inline-block" height="34"
                    src="../public/images/favicon.png" width="34">
                <span class="text-sm-f font-bold text-black">RaftLabs Assignment</span>
            </a>
        </figure>
    </section>
</body>
</html>